*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
build.gradle
libs/
proguard-rules.pro
src/androidTest/
src/main/AndroidManifest.xml
src/main/java/
src/main/res/drawable-v24/
src/main/res/drawable/
src/main/res/layout/
src/main/res/mipmap-anydpi-v26/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xhdpi/
src/main/res/mipmap-xxhdpi/
src/main/res/mipmap-xxxhdpi/
src/main/res/values/
src/test/
.idea/assetWizardSettings.xml
.idea/caches/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml

gradle/
gradlew
gradlew.bat
